<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Информация о базе {{ base.name }}</h1>
        <ul>
            <li>Server 1C: {{ base.server_1c }}</li>
            <li>User: {{ base.user }}</li>
            <li>Repository Path: {{ base.repository_path }}</li>
            <li>Repository User: {{ base.repository_user }}</li>
            <li>Repository Password: {{ base.repository_password }}</li>
            <li>Extension Name: {{ base.extension_name }}</li>
            <li>Server SQL: {{ base.server_sql }}</li>
            <li>SQL Base: {{ base.sql_base }}</li>
        </ul>
        <p>Status: {{ connection_status }}</p>
        <section class="base-actions">
            <a href="{{ url_for('index') }}">Назад к списку</a>
            <a href="{{ url_for('edit_base', base_id=base.id) }}">Редактировать</a>
        </section>
    </div>
</body>
</html>