<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список баз</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Список баз</h1>
        <ul>
            {% for base in bases %}
                <li><a href="{{ url_for('show_base', base_id=base.id) }}">{{ base.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>